@media (min-width: 975px) and (max-width: 1200px) {
	.container__content__text {
		width: 30rem;
	}

	.container__content__btn-encrypt,
	.container__content__btn-decrypt {
		width: 15rem;
	}

	.container__box-message {
		width: 20rem;
		padding: 2rem;
	}

	.container__box-message__image {
		width: 15rem;
	}
}

@media (max-width: 975px) {
	.container {
		flex-direction: column;
		align-items: center;
	}

	.container__content {
		margin-bottom: 3rem;
	}

	.container__box-message {
		position: initial;
		width: 40rem;
		height: 20rem;
		padding: 2rem;
		margin-bottom: 2rem;
	}

	.container__box-message__image {
		display: none;
		width: 10rem;
	}

	.container__box-message__subtitle {
		color: #343A40;
		margin-bottom: 1.5rem;
	}

	.container__box-message__generated-text {
		height: auto;
		width: 40rem;
	}
}

@media (max-width: 740px) {
	.container {
		padding: 2rem;
	}

	.container__content__text {
		width: 100%;
	}

	.container__content__btn-encrypt {
		margin-bottom: 1rem;
	}

	.container__content__btn-encrypt,
	.container__content__btn-decrypt {
		width: 100%;
	}

	.container__box-message {
		width: 90%;
	}

	.container__box-message__subtitle {
		width: 100%;
	}

	.container__box-message__paragraph {
		width: 100%;
	}

	.container__box-message__generated-text {
		width: 100%;
	}

	.container__box-message__btn-copy {
		width: 100%;
		justify-content: center;
	}
}